
<link rel="stylesheet" href="/static/style.css">

<h1> Welcome to my guestbook! </h1>

<p><a href="/add">Add a message</a></p>

{% for e in entries %}
    <div class="entry">
        <form method="post" action="/delete">
          <textarea name="entrytext" cols=40 rows=5>{{e['text']}}</textarea>
          <p class="metadata"> by {{e['author']}} on {{e['timestamp']}} </p>
          <input type="hidden" name="id" value="{{e['id']}}"></input>
          <input type="submit" value="X"></input>
          <input type="submit" value="Edit" formaction="/edit"></input>
        </form>
    </div>
{% endfor %}
